// Main CSS

//font 'open sans light(300)'
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

//library imports
<<<<<<< HEAD
@import "lib/bourbon/bourbon";

//variables
@import "utils/variables_colours";
@import "utils/variables_dimensions";
=======
	@import "lib/bourbon/bourbon";

//variable
	$fullwidth: 100%;
	$mainpadding: 1%;
	$mainmargin: 1%;
>>>>>>> master

//flex structure
@import "layout/structure/flexStructure.scss";

//components
	@import "components/btn";
	@import "components/textfields";


//header sass
@import "layout/header/header.scss";

//main sass
	//login
	@import "layout/main/loginScreen/mainlogin.scss";


body, html, h1, h2, h3, h4, h5, li{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

body, html {
	width: $fullwidth;
}

body {
	background-color: $color-base-background-grey;

	main {
		margin: 20px;
	}
}