// Main CSS

//font 'open sans light(300)'
	@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

//library imports
	@import "lib/bourbon/bourbon";

//variable
	$fullwidth: 100%;
	$mainpadding: 1%;
	$mainmargin: 1%;

//flex structure
	@import "layout/structure/flexStructure.scss";

//components
	//buttons
		@import "components/btn";
	//textfields
		@import "components/textfields.scss";


//header sass
@import "layout/header/header.scss";

//main sass
	//login
	@import "layout/main/loginScreen/mainlogin.scss";
	//add & edit
	@import "layout/main/add-edit/add-edit.scss";