@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body, html, h1, h2, h3, h4, h5, li {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif; }

body, html {
  width: 100%;
  background-color: #fafdfe; }

.wrapper {
  display: flex;
  flex-direction: column; }

header {
  flex: 1; }

main {
  flex: 1; }

footer {
  flex: 1; }

.btn-green {
  padding: 5px 15px;
  background-color: #56c954;
  border-radius: 5px;
  color: white;
  border: 0px; }

.btn-highly-important {
  padding: 2.5px 10px;
  border-radius: 5px;
  color: white;
  border: 0;
  background-color: red; }

.btn-moderated-important {
  padding: 2.5px 10px;
  border-radius: 5px;
  color: white;
  border: 0;
  background-color: blue; }

.btn-low-importance {
  padding: 2.5px 10px;
  border-radius: 5px;
  color: white;
  border: 0;
  background-color: green; }

.tf-blank {
  padding: 10px;
  border: 0;
  background-color: #ebebeb; }

header {
  background-color: #a83837;
  color: #fafdfe; }
  header .headerLogo {
    padding: 1%;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    header .headerLogo h1 {
      margin: 1%; }

main {
  margin-top: 4%; }

.loginWrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 35%;
  margin: 0 auto; }
  .loginWrapper h2 {
    align-self: flex-start;
    margin: 1% 0 1%; }
  .loginWrapper .input-Text {
    width: 100%;
    margin: 1%; }
  .loginWrapper .btn-login {
    align-self: flex-end;
    margin: 5% 0 1%; }
  .loginWrapper p {
    align-self: flex-start;
    margin: 1% 0 1%; }

.register-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto; }
  .register-wrapper h2 {
    margin: 1%; }
  .register-wrapper input {
    margin: 1%; }
  .register-wrapper .register {
    flex-direction: flex-start;
    width: 65%; }

.add-edit-wrapper {
  flex-direction: column;
  display: flex;
  width: 35%;
  margin: 0 auto; }
  .add-edit-wrapper .hide {
    display: none; }
    .add-edit-wrapper .hide .new-task-wrapper {
      display: flex;
      width: 100%; }
      .add-edit-wrapper .hide .new-task-wrapper input:nth-child(1) {
        flex: 1;
        margin: 1%; }
      .add-edit-wrapper .hide .new-task-wrapper input:nth-child(2) {
        margin: 1%; }
    .add-edit-wrapper .hide .importance {
      margin-top: 1%; }
      .add-edit-wrapper .hide .importance input {
        margin: 1%; }
  .add-edit-wrapper .task-wrapper {
    display: flex;
    width: 100%;
    margin-top: 5%; }
    .add-edit-wrapper .task-wrapper h2 {
      flex: 1;
      margin: 1%; }
    .add-edit-wrapper .task-wrapper input {
      margin: 1%; }
  .add-edit-wrapper .task-list table {
    width: 100%; }
    .add-edit-wrapper .task-list table tr:nth-child(odd) {
      background-color: #ebebeb; }
    .add-edit-wrapper .task-list table tr {
      display: flex;
      background-color: #ffffff;
      padding: 1%; }
      .add-edit-wrapper .task-list table tr .td-name {
        flex: 1; }
      .add-edit-wrapper .task-list table tr img {
        width: 20px; }
  .add-edit-wrapper h2 {
    margin: 1%; }

/*# sourceMappingURL=stylesheet.css.map */
