body, html, h1, h2, h3, h4, h5, li{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

body, html {
	width: $fullwidth;
	background-color: #fafdfe;
}

.wrapper {
	display: flex;
	flex-direction: column;   	
}

header {
	flex: 1;
	
}

main {
	flex: 1;
	
}

footer {
	flex: 1;
}