header {
	background-color: $color-base-red;
	color: $color-base-background-grey;

	.headerLogo {
	  padding: $mainpadding;
	  display: flex;
	  align-items: center;
	  flex-wrap: wrap;
	  
	  	h1 {
	    	margin: $mainmargin;
		}
	}
}
