.add-edit-wrapper {
	flex-direction: column;
	display: flex;
	width: 35%;
	margin: 0 auto;
	.hide {
		display: none;
		.new-task-wrapper {
			display: flex;
			width: $fullwidth;
			input:nth-child(1){
				flex: 1;
				margin: $mainmargin;
			}
			input:nth-child(2){
				margin: $mainmargin;
			}

		}
		.importance {
			margin-top: $mainmargin;
			input {
				margin: $mainmargin;
			}
		}
	}
	.task-wrapper {
		display: flex;
		width: $fullwidth;
		margin-top: $mainmargin+4%;
		h2 {
			flex: 1;
			margin: $mainmargin;
		}
		input {
			margin: $mainmargin;
		}
	}

	.task-list {
		table{
			width: $fullwidth;
			tr:nth-child(odd) { 
					background-color: #ebebeb; 
				}
			tr {
				display: flex;
				background-color: #ffffff;
				padding: $mainpadding;

				.td-name {
					flex: 1;
				}
				img {
					width: 20px;
				}
			}
		}
	}


	h2 {
		margin: $mainmargin;
	}
}