main {
	margin-top: 4%;
}

.loginWrapper {
	align-items: center;
	flex-direction: column;
	display: flex;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;

	h2 {
		align-self: flex-start;
		margin: $mainmargin 0 $mainmargin;
	}

	.input-Text {
		@include calc(width, "#{$fullwidth} - #{$mainmargin}");
		margin: 0 0 $mainmargin;
	}

	.btn-login {
		align-self: flex-end;
		margin: 0 0 $mainmargin;
	}

	p {
		align-self: flex-start;
		margin: $mainmargin 0 $mainmargin;
	}
}